{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}
<!DOCTYPE html>
  <head>
    <title>VSMatt - {% trans "Accounts - Sign In" %}</title>
    {% include 'partials/css.html' %}
  </head>

  <body>
    <!-- Content -->

    <div class="container">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner row align-items-center justify-content-center" style="min-height: 90vh;">
          <!-- Register -->
          <div class="col-xl-5">
            <div class="card">
              <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center my-4">
                  <a href="/" class="app-brand-link gap-2">
                    <span class="app-brand-text demo text-body fw-bolder">VSMatt</span>
                  </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Welcome to VSMatt! 👋</h4>
                <p class="mb-4">Please sign-in to your account and start the adventure</p>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                  <p>{% blocktrans with site.name as site_name %}Please sign in with one
                  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                  <div class="socialaccount_ballot">

                    <ul class="socialaccount_providers">
                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                  
                    <div class="login-or">{% trans 'or' %}</div>
                  
                  </div>
                  
                  {% include "socialaccount/snippets/login_extra.html" %}
                
                {% else %}
                  <p>{% blocktrans %}If you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
                
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <a class="button secondaryAction d-block" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  <button class="primaryAction btn btn-primary mt-4" type="submit">{% trans "Sign In" %}</button>
                </form>
              </div>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->
{% include 'partials/js.html' %}

</body>
</html>
