{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner row align-items-center justify-content-center">
        <!-- Register -->
        <div class="col-xl-7">
          <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center my-4">
                    <a href="/" class="app-brand-link gap-2">
                    <span class="app-brand-text demo text-body fw-bolder">{{jujamall | default:"VSMatt" }}</span>
                    </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Welcome to {{jujamall | default:"VSMatt" }}! 👋, Change Password</h4>

                    <h1>{% trans "Change Password" %}</h1>

                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" name="action" class="btn btn-primary my-4">{% trans "Change Password" %}</button>
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
