{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner row align-items-center justify-content-center">
        <!-- Register -->
        <div class="col-xl-7">
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center my-4">
                <a href="/" class="app-brand-link gap-2">
                  <span class="app-brand-text demo text-body fw-bolder">{{jujamall | default:"VSMatt" }}</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Welcome to {{jujamall | default:"VSMatt" }}! 👋, Reset Password</h4>

                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary my-4" value="{% trans 'Reset My Password' %}" />
                </form>

                <p>{% blocktrans %}If you have any trouble resetting your password, Please{% endblocktrans %} <a href="{% url 'contact' %}">contact us</a></p> 


            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
