{% load i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html
  lang="en">
  
 <head>
  {% include 'partials/css.html' %}
    <title>VSMatt - {% trans "Accounts - Signup" %}</title>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner row align-items-center justify-content-center" style="min-height: 90vh;">
          <!-- Register Card -->
          <div class="col-xl-5">
            <div class="card">
              <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                  <a href="/" class="app-brand-link gap-2">
                    <span class="app-brand-text demo text-body fw-bolder my-4">VSMatt</span>
                  </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Adventure starts here 🚀</h4>
                <p class="mb-4">Management your shop and products easily, get quality products!</p>
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="btn btn-primary mt-4" type="submit">{% trans "Sign Up" %}</button>
                </form>

              </div>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>
    {% include 'partials/js.html' %}
  </body>
</html>

