<li class="dropdown">
    <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
        <i class="fas fa-list-ol"></i>
        <span class="align-middle"> Actions Center</span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'business:own_business_list' %}"> My Businesses </a></li>
        <li><a class="dropdown-item" href="{% url 'business:register_business' %}"> Register Business</a></li>
        <!-- {# <li><a class="dropdown-item" href="{% url 'business:register_branch' %}"> Register Branch</a></li> #}-->
    </ul>
</li>

<script type="text/javascript">
    window.addEventListener("resize", function () {
        "use strict"; window.location.reload();
    });
    document.addEventListener("DOMContentLoaded", function () {

        // make it as accordion for smaller screens
        if (window.innerWidth > 992) {

            document.querySelectorAll('.navbar .nav-item').forEach(function (everyitem) {

                everyitem.addEventListener('mouseover', function (e) {

                    let el_link = this.querySelector('a[data-bs-toggle]');

                    if (el_link != null) {
                        let nextEl = el_link.nextElementSibling;
                        el_link.classList.add('show');
                        nextEl.classList.add('show');
                    }

                });
                everyitem.addEventListener('mouseleave', function (e) {
                    let el_link = this.querySelector('a[data-bs-toggle]');

                    if (el_link != null) {
                        let nextEl = el_link.nextElementSibling;
                        el_link.classList.remove('show');
                        nextEl.classList.remove('show');
                    }


                })
            });

        }
        // end if innerWidth
    });
      // DOMContentLoaded  end
</script>