
{% load static %}
<div class="container-fluid bg-primary">
    <div class="row align-items-center justify-content-center"> 
        <div class="col-lg-9 text-center">
            <h1 class="text-white my-3 text-uppercase">{{title}}</h1>
            <ul class="nav text-decoration-none">
                <li class="nav-item"><a href="/" class="text-white btn">Home </a></li>
                {% if category %}
                <li class="nav-item"><a href="" class="text-white btn">{{ category}}</a></li>
                {% endif %}
                <li class="nav-item"><a href="" class="text-white btn">{{title}}</a></li>
            </ul>
        </div>
    </div>
</div>
