<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        {% if vsmatt.facebook %}
          <a href="{{ vsmatt.facebook }}" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
          </a>
        {% endif %}
        {% if vsmatt.twitter %}
          <a href="{{ vsmatt.twitter }}" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
        {% endif %}
        {% if vsmatt.instagram %}
          <a href="{{ vsmatt.instagram }}" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
        {% endif %}
        {% if vsmatt.email %}
          <a href="mailto:{{ vsmatt.email }}" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
          </a>
        {% endif %}
        {% if vsmatt.linkedin %}
          <a href="{{ vsmatt.linkedin }}" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
        {% endif %}
        {% if vsmatt.github %}
          <a href="{{ vsmatt.github }}" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
          </a>
        {% endif %}
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              {{ vsmatt | default:"BizBoost" }}
            </h6>
            <p>
              We are aimed to provide the best online shopping experience for customers and easy management of products and sales for businesses.
              <p><a href="{% url 'business:register_business' %}" class="text-reset">Register a business</a></p>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Product Categories
            </h6>
            {% if product_categories %}
              {% for category in product_categories %}
                <p><a href="{{ category.get_absolute_url }}" class="text-reset">{{category}}</a></p>
              {% endfor %}
            {% else %}
              <p>No Available Category</p>
            {% endif %}
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Quick links
            </h6>
            <p>
              <a href="{% url 'products:products_list' %}" class="text-reset">Products</a>
            </p>
            <p>
              <a href="{% url 'business:businesses' %}" class="text-reset">Businesses</a>
            </p>
            <p>
              <a href="{% url 'about' %}" class="text-reset">About us</a>
            </p>
            <p>
              <a href="{% url 'contact' %}" class="text-reset">Contact</a>
            </p>
            <p>
              <a href="{% url 'faq' %}" class="text-reset">FAQs</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> {{vsmatt.address | default:"Juja KE 52106-00100"}} </p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              {{vsmatt.email | default:"info@bizboost.vstech.co.ke"}}
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> {{ vsmatt.phone_number | default:"+25490193045"}} </p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +254 790193045</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      <div class="d-flex justify-content-between">
        <span>© 2022 Copyright: <a href="https://bizboost.vstech.co.ke/">BizBoost</a></span>
        <span>Powered by <a href="https://vstech.co.ke/">VSTech Limited</a></span>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->