{% load static %}
<script src="https://kit.fontawesome.com/f23d6cf39d.js" crossorigin="anonymous"></script>
<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<!--TODO COMMENTED TO STUBBONESS, CHECK LATER-->
<!--<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>-->
<script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script src="{% static 'assets/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
<!-- Helpers -->
<script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{% static 'assets/js/config.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
