{% load static %}
<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'img/favicon/logo.png' %}" height="70" alt="Jujamall Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'products:products_list' %}"><span class="dropdown-item">All Products</span></a></li>
            {% if product_categories %}
              {% for category in product_categories %}
                <li><a href="{{category.get_absolute_url}}"><span class="dropdown-item">{{category}}</span></a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Business Categories
          </a>
          {% if title == 'home' %}
            <ul class="dropdown-menu">
              <li> <span class="dropdown-item" onclick="getBusinessCartegorySlug('')">All Business Categories</span></button></li>
              {% if business_categories %}
                {% for category in business_categories %}
                <li> <span class="dropdown-item" onclick="getBusinessCartegorySlug('{{category.slug}}')">{{category}}</span></li>
                {% endfor %}
              {% endif %}
            </ul>
          {% else %}
            <ul class="dropdown-menu">
              <li> <a href="{% url 'business:businesses' %}"><span class="dropdown-item">All Business Categories</span></a></li>
              {% if business_categories %}
                {% for category in business_categories %}
                  <li> <a href="{{category.get_absolute_url}}"><span class="dropdown-item">{{category}}</span></a></li>
                {% endfor %}
              {% endif %}
            </ul>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  {% if user.is_authenticated %}
                  {% if user.profile.profile_pic %}
                  <img src="{{user.profile.profile_pic.url}}" style="max-width: 50px; max-height: 50px;" class="rounded-circle" alt="...">
                  {% else %}
                  <img src="{% static 'img/avatars/1.png' %}" style="max-width: 50px; max-height: 50px;" class="rounded-circle" alt="...">
                  {% endif %}
                  {% else %}
                  <img src="{% static 'img/avatars/1.png' %}" style="max-width: 50px; max-height: 50px;" class="rounded-circle" alt="...">
                  {% endif %}
                </div>
              </div>
              {% if user.is_authenticated %}
              <div class="flex-grow-1">
                <span class="fw-semibold d-block">{{user}}</span>
                <small class="text-muted">
                  {% if user.is_superuser %}Admin{% else %}{{user.profile.account_type}}{% endif %}
                </small>
              </div>
              {% endif %}
            </div>
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="{% url 'profile' %}">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">My Profile</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'account_email' %}">
                <i class="bx bx-cog me-2"></i>
                <span class="align-middle">Settings</span>
              </a>
            </li>
            <!-- <li>
              <a class="dropdown-item" href="#">
                <span class="d-flex align-items-center align-middle">
                  <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                  <span class="flex-grow-1 align-middle">Billing</span>
                  <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                </span>
              </a>
            </li> -->
            {% include 'partials/actions.html' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
              </a>
            </li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" href="#"><i class="fas fa-cart-plus fa-lg fa-fw"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>