{% extends "base.html" %}
{% load static %}
{% block title %}
Details
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0 my-4">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for item in order.items.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td class="text-left fw-bold"><img src="{{item.product.image.url}}" alt="" style="width: 50px;">
                            {{ item.product }}
                        </td>
                        <td class="align-middle">Ksh. {{ item.price }}</td>
                        <td class="align-middle">{{item.quantity}}</td>
                        <td class="align-middle text-success fw-bold">Ksh. {{ item.get_cost }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase my-4 p-3 bg-secondary pr-3">
                Order Summary
            </h5>
            <div class="bg-light p-30 mb-5 p-3">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>Ksh. {{ order.get_total_cost }}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Payment Status</h6>
                        {% if order.paid %}
                        <span class="badge badge-success text-success">Paid</span>
                        {% else %}
                        <span class="badge badge-danger text-danger">Pending</span>
                        {% endif %}

                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>Ksh. {{ order.get_total_cost }}</h5>
                    </div>
                    {% if not order.paid %}
                    <a href=""
                        class="btn btn-block btn-success font-weight-bold my-3 py-3"><i class="fa fa-credit-card"
                            aria-hidden="true"></i> Make
                        Payment</a>
                    {% endif %}
                    <a href="{% url 'order:order_invoice' order.id %}"
                        class="btn btn-block btn-primary font-weight-bold my-3 py-3"><i class="fas fa-file-invoice"
                            aria-hidden="true"></i> Invoice</a>
                    {% if order.get_amount_paid %}
                    <a href="{% url 'order:order_payment_history' order.id %}"
                        class="btn btn-block btn-secondary font-weight-bold my-3 py-3"><i class="fas fa-file-invoice"
                            aria-hidden="true"></i> View Payment History</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}