{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="BizBoost, online shop, e-comerce, all in one shop, eshop, e-shop, all shop">
    <meta name="description" content="BizBoost is an online shop that allows you to buy and sell products from different shops in one place.">
    {% include 'partials/shop/css.html' %}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon.png' %}" />
    {% block head %}

    {% endblock %}
    <title>BizBoost {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>

<body>
    <head>
        {% include 'partials/top-bar.html' %}
        {% include 'partials/shop/breadcrumb.html' %}
    </head>
    <section>
        <section>
            {% if messages %}
                {% for message in messages %}
                    <div class="container px-5 my-3">
                        <div class="alert alert-{{ message.tags }} alert-sm alert-dismissible fade show custom-alert"
                            role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </section>
    {% block content %}

    {% endblock %}
    {% include 'partials/footer.html' %}
</body>
<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% include 'partials/shop/js.html' %}

</html>