{% extends "farm/products/base.html" %}
{% block meta %}
    <meta name="keywords" content="BizBoost, {{business}}, {{business}} {{branch}}">
    <meta name="description" content="{{business.description}}, {{ branch.description }}">
{% endblock %}
{% load static %}
{% block title %}Businesses-  {{business}} - {{branch}}{% endblock %}
{% block content %}
{% include 'partials/shop/css.html' %}
{% include 'partials/shop/nav.html' %}
{% include 'partials/shop/top-bar.html' %}
<div class="container-fluid mb-3 mt-3">
    <div class="row px-xl-5">
        {% if c_products %}
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for c_product in c_products %}
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'shop/img/carousel-1.jpg' %}"
                            style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">{{c_product.category}}
                                </h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">{{c_product.description|truncatechars:120 }}</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                    href="{{c_product.get_absolute_url}}">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="{% static 'shop/img/offer-1.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="{% static 'shop/img/offer-2.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="carousel-item position-relative active" style="height: 430px;">
                <h3>No Carousel Product</h3>
            </div>
        {% endif %}
    </div>
</div>

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        <!-- loop category -->
        {% for category in categories %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'shop:category' business.slug branch.slug category.slug %}">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src=" {% if category.image %} {{category.image.url}} {% else %} {% static 'img/elements/19.jpg' %} {% endif %}" alt="{{category}}">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{category}}</h6>
                        <small class="text-body">{{category.product.all|length}}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <!-- endloop -->
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        <!-- loop current shop products -->
        {% for product in branch.products.all %}
        <div class="col-lg-2 col-md-3 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% if product.image %}{{product.image.url}}{% else %}{% static 'img/elements/1.jpg' %}{% endif %}" alt="{{product}}" title="{{product}}">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="{{product.get_absolute_url}}"><i
                                class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <a href="{{ product.get_absolute_url }}">
                <div class="text-center py-4">
                    <a class="h3 text-decoration-none text-truncate text-primary" href="{{product.get_absolute_url}}">{{product}}</a>
                    <div class="text-center mt-2">
                        <h5>{% if product.price %}Ksh. {{product.price}}{% else %}Free{% endif %}
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">                     
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>                       
                            <small>({{product.reviews.all | length}})</small>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
        <!-- endloop -->
    </div>
</div>
<!-- Products End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
</div>
<!-- Products End -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        {% if branch.products.all %}
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                {% for product in branch.products.all %}
                <div class="bg-light p-4">
                    <a href="{{ product.get_absolute_url}}"><img class="img-fluid" src="{% if product.image %}{{product.image.url}}{% else %}{% static 'img/elements/1.jpg' %}{% endif %}" alt="{{product}}"></a>
                    <h6 class="mt-3 mb-0">{{product}}</h6>
                    <small class="text-body">{{product.price}}</small>
                </div> 
                {% endfor %}  
            </div>
        </div>
        {% else %}
            <p>No recent products added</p>
        {% endif %}
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% include 'partials/shop/js.html' %}
{% endblock %}