{% extends 'farm/products/base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}
<main class="main" id="top">
  <!-- STEPS FOR USING PRODUCTS APP -->
  <section class="py-0 bg-primary-gradient">

    <div class="container">
      <div class="row justify-content-center g-0">
        <div class="col-xl-9">
          <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">How does it work</h5>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'products/assets/img/gallery/location.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Select location</h5>
                <p class="mb-md-0">Choose the location where your product will be delivered.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'products/assets/img/gallery/order.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Choose order</h5>
                <p class="mb-md-0">Check over hundreds of businesses to pick your favorite product</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'products/assets/img/gallery/pay.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Pay advanced</h5>
                <p class="mb-md-0">It's quick, safe, and simple. Select several methods of payment</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'products/assets/img/gallery/meals.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Enjoy quality product</h5>
                <p class="mb-md-0">Product is delivered directly to your home.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>

  
  <!-- <section> close ============================-->
  <!-- <section> begin ============================-->
    <!-- pPOPULAR PRODUCTS -->
  <section class="py-4 overflow-hidden">

    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Popular Products</h5>
        </div>
        <div class="col-12">
          <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              {% if products %}
              <!-- LOOP COROUSELS -->
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row gx-3 h-100 align-items-center">
                  <!-- LOOP POPULAR PRODUCTS -->
                  {% for product in products %}
                  <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                    <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100"
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/elements/1.jpg' %}{% endif %}" alt="{{ product }}" />
                      <div class="card-body ps-0">
                        <h5 class="fw-bold text-1000 text-truncate mb-1">{{product}}</h5>
                        <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span
                            class="text-primary">{{product.branch}}</span></div><span class="text-1000 fw-bold">{% if product.price %}Ksh. {{product.price}}{% else %}Free{% endif %}</span>
                      </div>
                    </div>
                    <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="{{product.get_absolute_url}}" role="button">Order now</a>
                    </div>
                  </div>
                  {% endfor %}
                  <!-- ENDLOOP -->
                </div>
              </div>
              <!-- ENDLOOP -->
              {% else %}
                <p class="text-center">No products available</p>
              {% endif %}
            </div>
            <button class="carousel-control-prev carousel-icon" type="button" data-bs-target="#carouselPopularItems"
              data-bs-slide="prev"><span class="carousel-control-prev-icon hover-top-shadow"
                aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
            <button class="carousel-control-next carousel-icon" type="button" data-bs-target="#carouselPopularItems"
              data-bs-slide="next"><span class="carousel-control-next-icon hover-top-shadow"
                aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>
  <!-- <section> close -->

  <section id="testimonial">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mb-6">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Featured business</h5>
        </div>
      </div>
      <div class="row gx-2">
        {% if businesses %}
          {% for business in businesses %}
            <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
              <div class="card card-span h-100 text-white rounded-3"><img class="img-fluid rounded-3 h-100" style="max-width: 300px;max-height: 300px;"
                  src="{% if business.image %}{{business.image.url}}{% else %}{% static 'img/elements/3.jpg' %}{% endif %}" alt="{{business}}" title="{{business}}"/>
                <a href="{{business.get_absolute_url}}" class="text-white">
                  <div class="card-img-overlay ps-0"><span class="badge bg-danger p-2 ms-3"><i
                        class="fas fa-tag me-2 fs-0"></i><span class="fs-0">Location</span></span><span
                      class="badge bg-primary ms-2 me-1 p-2"><i class="fas fa-clock me-1 fs-0"></i><span
                        class="fs-0">{{business.category}}</span></span>
                  </div>
                </a>
                <div class="card-body ps-0">
                  <div class="d-flex align-items-center mb-3">
                    <a href="{{ business.business.get_absolute_url }}"><img class="img-fluid" style="max-width: 70px;max-height: 70px;" src="{% if business.business.image %}{{business.business.image.url}}{% else %}{% static 'products/assets/img/gallery/food-world-logo.png' %}{% endif %}" alt="{{business}}" /></a>
                    <div class="flex-1 ms-3">
                      <h5 class="mb-0 fw-bold text-1000"><a href=" business.get_absolute_url ">{{business}}</a></h5><span class="text-primary fs--1 me-1"><i
                          class="fas fa-star"></i></span><span class="mb-0 text-primary">{{business.reviews.all.count}} ratings</span>
                    </div>
                  </div>
                  <span class="fw-light small fs-1 text-muted">{{ business.description | truncatechars:85 }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="text-center">No businesses available</p>
        {% endif %}
        <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-primary" href="{% url 'business:businesses' %}">View All <i
              class="fas fa-chevron-right ms-2"> </i></a></div>
      </div>
    </div>
  </section>

  <section>
    <div class="bg-holder"
      style="background-image:url(assets/img/gallery/cta-one-bg.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->
    <!-- dont touch this -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-10">
          <div class="card card-span shadow-warning" style="border-radius: 35px;">
            <div class="card-body py-5">
              <div class="row justify-content-evenly">
                <div class="col-md-3">
                  <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img
                      src="{% static 'products/assets/img/icons/discounts.png' %}" width="100" alt="..." />
                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                      <h2 class="fw-bolder text-1000 mb-0 text-gradient">Daily<br class="d-none d-md-block" />Discounts
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 hr-vertical">
                  <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img
                      src="{% static 'products/assets/img/icons/live-tracking.png' %}" width="100" alt="..." />
                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                      <h2 class="fw-bolder text-1000 mb-0 text-gradient">Live Tracking</h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 hr-vertical">
                  <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img
                      src="{% static 'products/assets/img/icons/quick-delivery.png' %}" width="100" alt="..." />
                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                      <h2 class="fw-bolder text-1000 mb-0 text-gradient">Quick Delivery </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-0">
    <div class="container">
      <div class="row flex-center">
        <div class="col-xxl-9 py-7 text-center">
          <h1 class="fw-bold mb-4 text-white fs-6">Are you ready to order <br />with the best deals? </h1><a
            class="btn btn-danger" href="#"> PROCEED TO ORDER<i class="fas fa-chevron-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}