{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% include 'partials/css.html' %}
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse pac-input">
    <!-- Search -->
    <div class="navbar-nav align-items-center" id="search_input">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..." />
      </div>
    </div>
    <!-- /Search -->
  </div>
</nav>

<div id="googleMap" style="width:100%;height:800px;"></div>
<br>
<!--    map types-->
<!--    mapTypeId: google.maps.MapTypeId.SATELLITE-->
<!--    mapTypeId: google.maps.MapTypeId.HYBRID-->
<!--    mapTypeId: google.maps.MapTypeId.TERRAIN-->
<script>
  // $(document).ready(function () {
  let map, infoWindow;
  function myMap() {
    let vstecPosition = new google.maps.LatLng(-1.1139084362152138, 37.0106327842076)
    let mapOptions = {
      //disables default staff
      //disableDefaultUI: true,
      center: vstecPosition,
      zoom: 9,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    //create map object
    map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
    //add vstec marker
    const vstecMarker = new google.maps.Marker({
      position: vstecPosition,
      map: map,
      icon: { url: "{% static 'markers/6.png' %}", scaledSize: new google.maps.Size(70, 70) },
    });
    //add vstec infowindow
    new google.maps.InfoWindow({ content: "vstec limited company" }).open(map, vstecMarker);

    let infoWindow = new google.maps.InfoWindow();
    // create button and give it styling
    const locationButton = document.createElement("button");
    locationButton.textContent = "Pan to Current Location";
    /*
    locationButton.classList.add("custom-map-control-button");
    locationButton.classList.add("btn");
    locationButton.classList.add("btn-success");
    locationButton.classList.add("btn-lg");
    locationButton.classList.add("text-dark");
    locationButton.classList.add("fw-bold");
    */
    locationButton.className = "custom-map-control-button btn btn-success btn-lg text-dark fw-bold"
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);

    $(locationButton).click(function () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            // infoWindow.setPosition(pos);
            infoWindow.setContent("your current Location found.");
            let currentPositionMarker = new google.maps.Marker({
              position: pos,
              map: map,
              icon: { url: "{% static 'markers/1.png' %}", scaledSize: new google.maps.Size(50, 50) },
            });
            map.setZoom(15)
            infoWindow.open(map, currentPositionMarker);
            map.setCenter(pos);
            //set marker on current position

          },
          () => {
            //user doent allow the location permision
            handleLocationError(true, infoWindow, map.getCenter());
          }
        );
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    });

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    }


    let marker;
    {% for bs in bus %}
    marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ bs.geolocation }}),
      map: map,
        icon: { url: "{{bs.marker.url}}", scaledSize: new google.maps.Size(50, 50) },

  });
  google.maps.event.addListener(marker, 'click', function () {
    //display business
    info_window.setContent("{{bs}}");
    info_window.open(map, marker);
    //zoom on marker clicked
    map.setZoom(9);
    map.setCenter(marker.getPosition());
  });
  {% endfor %}

  google.maps.event.addListener(map, 'click', function (event) {
    placeMarker(map, event.latLng);
  });

  function placeMarker(map, location) {
    var marker = new google.maps.Marker({
      position: location,
      map: map,
      icon: { url: "{% static 'markers/2_1.png' %}", scaledSize: new google.maps.Size(50, 50) },
    });
    //var infowindow = new google.maps.InfoWindow({
    //content: 'Latitude: ' + location.lat() +
    // '<br>Longitude: ' + location.lng()
    //});
    //infowindow.open(map, marker);
  }
}

// });


</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0WoecFWukfc9lUgCVcA20W11Eoj49jpo&callback=myMap"></script>
{% include 'partials/js.html' %}