{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}Regiter{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{bs_reg_form|crispy}}
                <button type="submit" class="btn btn-primary mt-3">Submitt</button>
            </form>
        </div>
        <div class="col-md-6 p-5">
            <div id="googleMap" style="width:100%;height:100%;"></div>
        </div>
    </div>
</div>
<script>
    let map, infoWindow;
    function myMap() {
        let vstecPosition = new google.maps.LatLng(-1.1139084362152138, 37.0106327842076)
        let mapOptions = {
            center: vstecPosition,
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true,
            rotateControl: true,
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
        const vstecMarker = new google.maps.Marker({
            position: vstecPosition,
            map: map,
            draggable: true,
            icon: { url: "{% static 'markers/6.png' %}", scaledSize: new google.maps.Size(70, 70) },
        });
        google.maps.event.addListener(vstecMarker, "drag", (e) => {
            lat.value = e.latLng.lat()
            lng.value = e.latLng.lng()

        });
        let infoWindow = new google.maps.InfoWindow();
        let lat = document.querySelector('#id_longitude');
        // lat.addEventListener('click', () => { alert("Clicked") });
        lat.value = -1.1139084362152138
        let lng = document.querySelector('#id_latitude');
        lng.value = 37.0106327842076
        const geocoder = new google.maps.Geocoder();
        let latlng = {
            lat: parseFloat(lat.value),
            lng: parseFloat(lng.value),
        }
        geocoder.geocode({ location: latlng })
            .then((response) => {
                if (response.results[0]) {
                    map.setZoom(11);

                    const marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                    });

                    infowindow.setContent(response.results[0].formatted_address);
                    infowindow.open(map, marker);
                } else {
                    window.alert("No results found");
                }
            })
            .catch((e) => window.alert("Geocoder failed due to: " + e));
        const locationButton = document.createElement("button");
        locationButton.textContent = "Pan to Current Location";
        locationButton.className = "custom-map-control-button btn btn-success btn-sm text-dark fw-bold"
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        let currentPositionMarker
        locationButton.addEventListener('click', () => {
            vstecMarker.setMap(null);
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        lat.value = position.coords.latitude
                        lng.value = position.coords.longitude
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };
                        // infoWindow.setPosition(pos);
                        infoWindow.setContent("your current Location found.Drag to change your location");
                        if (!currentPositionMarker) {
                            currentPositionMarker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                icon: { url: "{% static 'markers/7.png' %}", scaledSize: new google.maps.Size(70, 70) },
                                draggable: true
                            });
                        }

                        google.maps.event.addListener(currentPositionMarker, "drag", (e) => {
                            lat.value = e.latLng.lat()
                            lng.value = e.latLng.lng()

                        });
                        map.setZoom(18)
                        infoWindow.open(map, currentPositionMarker);
                        map.setCenter(pos);
                        //set marker on current position

                    },
                    (error) => {
                        //user doent allow the location permision
                        showError(error)
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                alert("Browser dont surpot geolocation")
            }
        });
        function showError(error) {
            //could be used in place for above handleLocationError
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }


    }

</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0WoecFWukfc9lUgCVcA20W11Eoj49jpo&callback=myMap"></script>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}