{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="keywords" content="vsmatt registered businesses, businnesses in vsmatt, vsmatt businesses">
    <meta name="description" content="There are lots of businesses which have registered with vsmatt, Some of them include {% if businesses %} {% for business in businesses %} {{business}}{% endfor %}{% endif %}">
{% endblock %}
{% block title %}Businesses {% if categories %}- {{categories }}{% endif %}{% endblock %}
{% block content %}


    <!-- Business Start -->
    <div class="container-fluid py-5">
        <div class="container py-5 px-lg-5">
            <div class="wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="text-center mb-5">Registered businesses</h1>
            </div>
            <div class="d-flex justify-content-center mb-5" id="portfolio-flters">
                <a class="py-2 px-4 rounded-pill border border-primary {% if not categories  %} bg-primary text-white {% endif %}  me-2" href="{% url 'business:businesses' %}">All</a>
                {% if business_categories %}
                    {% for category in business_categories %}
                        <a class="py-2 px-4 border border-primary {% if category.slug == categories %} bg-primary text-white {% endif %} rounded-pill me-2" href="{{category.get_absolute_url}}"><span>{{category}}</span></a>
                    {% endfor %}
                {% endif %}        
            </div>
            <div class="row g-4 portfolio-container">
                {% if businesses %}
                    {% for business in businesses %}
                    <div class="col-lg-3 col-md-4 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="{{business.get_absolute_url}}"><img class="img-fluid w-100" src="{% if business.image %} {{business.image.url}}{% else %}{% static 'img/elements/1.jpg'%}{% endif %}" alt="{{business}}" title="{{business}}"></a>
                                <div class="portfolio-overlay d-flex bg-primary py-2 justify-content-evenly">
                                    <h5 class="lh-base mb-0 me-2 text-white">{{business.business}}</h5>
                                    <h6 class="bg-warning small p-2 rounded-2">{{business}}</h6>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-muted fw-light mb-2 small">{{business.description|truncatechars:135|default:"Business has no description"}}</p>
                                <span class="small text-light me-2"><i class="fa fa-shopping-basket me-2" aria-hidden="true"></i>{{business.category}}</span>
                                <span class="small text-light me-2"><i class="fa fa-location-arrow"></i> {{business.address}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="col-md-12 text-center">No Registered business.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Business End -->
{% endblock %}