{% extends 'base.html' %}
{% load static %}
{% block title %}Businesses{% endblock %}
{% block content %}

<div class="container-xxl bg-white p-0">

    <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="text-center mb-5">Registered businesses</h1>
            </div>
            <ul class="list-inline row mb-5" id="portfolio-flters">
                <li class="mx-2 active" data-filter="*">All</li>
                <li class="mx-2" data-filter=".first">Web Design</li>
                <li class="mx-2" data-filter=".second">Graphic Design</li>
            </ul>
            <div class="row g-4 portfolio-container">
                {% if businesses %}
                    {% for business in businesses %}
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-1.jpg"
                                        data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">UI / UX Design</p>
                                <h5 class="lh-base mb-0">Digital Agency Website Design And Development</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="col-md-12 text-center">No Registered business.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Projects End -->
</div>
{% endblock %}