{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}
<!-- About us -->
{% if vsmatt %}
<div class="container my-5">
    <h2>{{vsmatt.title}}</h2>
    <p><span>
            {{vsmatt.about_us | linebreaks }}
        </span></p>
</div>
{% endif %}
<!-- Meet Team -->
{% if team %}
<div class="container my-5">
    <h2 class="py-2">Meet Our Great Team</h2>
    <div class="row">
        {% for member in team %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{member.image.url}}" class="card-img" alt="Team Member">
                <h4 class="card-header text-primary">{{member.user.get_full_name}}</h4>
                <p class="card-body">
                    {{member.position}} <br>
                    {% if member.description %}
                    <span class="font-weight-bold h1">.</span><span
                        class="text-muted small">{{member.description}}</span>
                    {% endif %}

                <div class="mx-5 my-0 py-0">
                    <span class="d-flex justify-content-evenly">
                        {% if member.user.profile.phone_number %}
                            <a href="tel: {{member.user.profile.phone_number}}"
                                title="{{member.user.profile.phone_number}}"><i class="fa fa-phone fa-lg fa-fw"  aria-hidden="true"></i></a>
                        {% endif %}
                        {% if member.user.email %}
                            <a href="mailto: {{member.user.email}}" title="{{member.user.email}}"><i
                                class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if member.user.profile.linkedin_url %}
                        <a href="{{member.user.profile.linkedin_url}}" title="{{member.user.profile.linkedin}}"><i
                            class="fa fa-linkedin fa-lg fa-fw" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if member.user.profile.facebook_url %}
                            <a href="{{member.user.profile.facebook_url }}" title="{{member.user.profile.facebook}}"><i
                                class="fa fa-facebook fa-lg fa-fw" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if member.user.profile.twitter_url %}
                            <a href="{{member.user.profile.twitter_url }}" title="{{member.user.profile.twitter}}"><i
                                class="fa fa-twitter fa-lg fa-fw" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if member.user.profile.instagram_url %}
                            <a href="{{member.user.profile.instagram_url }}" title="{{member.user.profile.instagram}}"><i
                                class="fa fa-instagram fa-lg fa-fw" aria-hidden="true"></i></a>
                        {% endif %}
                       
                    </span>
                </div>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- Counter -->
<div class="container my-5">
    <h2 class="py-2">Why Choose vsmatt</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-primary">80</h1>
                    <p>Happy Businesses</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-primary">750</h1>
                    <p>Happy Customers</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-primary">100</h1>
                    <p>Happy Suppliers</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-primary">10</h1>
                    <p>Happy Patners</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}