{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="BizBoost, online shop, e-comerce, all in one shop, eshop, e-shop, all shop">
    <meta name="description" content="BizBoost is an online system that allows you to buy and sell products from different shops in one place.">
    <meta name="author" content="Jeff Odhiambo, Laurent Ouma">
    {% include 'partials/css.html' %}
    {% block meta %}

    {% endblock %}
    <title>BizBoost - {% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'partials/top-bar.html' %}
    {% if messages %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="text-center my-3 mx-5 alert alert-{{ message.tags }}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    {% if title != 'home' %}
        {% include 'partials/common-header.html' %}
    {% endif %}
    {% block content %}

    {% endblock %}
    {% include 'partials/footer.html' %}
    {% include 'partials/js.html' %}
    {% block mapdependancies %}

    {% endblock %}
</body>

</html>