{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact us{% endblock %}
{% block content %}
          <!-- Content wrapper -->
          <div class="content-wrapper my-5 py-3">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.0640368305403!2d37.00841191517318!3d-1.114128335777882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f47952563285d%3A0x70d092fb85ccb757!2sVSTech%20Limited%20Company!5e0!3m2!1sen!2ske!4v1666419478938!5m2!1sen!2ske" class="w-100 h-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Contact Us</h5>
                      <small class="text-muted float-end">You are welcomed to leave a feedback or suggestion</small>
                    </div>
                    <div class="card-body">
                      <form method="post">
                        {% csrf_token %}
                        {{form | crispy}}
                        <button type="submit" class="btn btn-primary">Send</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
          </div>

{% endblock %}