{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block meta %}
    <meta name="keywords" content="faq, vsmatt faq, faq vsmatt, frequently asked questions about vsmatt">
    <meta name="description" 
    content="
        frequently asked questions are:
        1. What is VSMatt.
        2. How do VSMatt work.
        3. Do VSmatt have a team.
        4. Do VSMatt offer support to its users.
        5. How do I register a business and manage the business.
        6. How many businesses am I allowed to register.
    ">
{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="border-bottom my-5 text-center">Frequently Asked Questions</h1>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">1. What is VSMatt?</button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>VSMatt</strong> is an online system that allows you to buy and sell products from different shops in one place. It also manages all your products, customers and businesses.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">2. How do VSMatt work?</button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    VSMart work is a simple way, If a customer, you visit our homepage and it uses your location to suggest all the businesses around you, if the intended business is not listed we provide an option to search for the business, you can then click on a business and then it opens the business page.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                3. Do VSMatt have a team?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                <strong>Yes,</strong> VSMatt is supported by a team in <code>VSTech Limited</code>.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                4. Do VSMatt offer support to its user?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <strong>Yes,</strong> Yes we do offer support, a user can leave a review on specific areas where he/she is experiencing challenges and our team will get back to her as soon as possible, In our next release we will add a support app that will be used to manage all the queries and it will be visible to the public.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                5. How do I register a business and manage the business?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    To register a business we have to approaches to take, First at the bottom of the page(in the footer), there is a link <code>register a business</code>. Second once you are logged in, under the profile youll see sub navigation, <code>my businesses</code> and <code>register a business</code> click on those links and it will take you to <a href="{% url 'business:register_business' %}">Business registration page</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                6. How many businesses am I allowed to register?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                    Currently VSMatt does not limit the number of businesses you can have, it also has no limit to the number of branches a business can have, It allows you to register all the businesses you have and manage them in one place.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}