{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% include 'partials/base-search.html' %}
<div class="container-fluid" id="googleMap" style="min-height: 80vh;"></div>
<script src="{% static 'js/index_map.js' %}"></script>

{% endblock %}
{% block mapdependancies %}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0WoecFWukfc9lUgCVcA20W11Eoj49jpo&callback=myMap"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script >
  var businessesList = [];
  //var location = [];
  var productsList = [];
  function getData(url) {
    $.ajax({
        url: url,
        method: 'GET',
        success: (categories, status, resp) => {
            for (const category of categories) {
                const markerIcon = category['marker'];
                const businesses = category['businesses'];
                for (const business of businesses) {
                  if(businessesList.indexOf(business['name']) == -1){
                    businessesList.push(business['name']);
                    //console.log(business['name']);
                  } 
                  
                  const products = business['products'];
                  for (const product of products) {
                    //console.log(product['name']);
                    productsList.push(product['name']);
                  }              
                }
                
            }
        },
        error: (data, status, resp) => {
            console.log(result.status);
        }

    });
}
 $(document).ready(function() {
    getData('/api/category/');
    $( "#productSearch" ).autocomplete({
      source: productsList
    });
    $( "#businessSearch" ).autocomplete({
      source: businessesList
    });
  });
</script>

{% endblock %}
