<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    {% include 'partials/shop/css.html' %}
    <title>JujaMall - {% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'partials/shop/top-bar.html' %}
    {% include 'partials/shop/product_head.html' %}

    {% if messages %}
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="text-center my-3 mx-5 alert alert-{{ message.tags }}" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    {% block content %}

    {% endblock %}
    {% include 'partials/shop/js.html' %}

    {% block mapdependancies %}

    {% endblock %}
</body>

</html>