{% extends 'shop/products/base.html' %}
{% load static %}
{% block content %}
<main class="main" id="top">
  <!-- <section> begin ============================-->
  <section class="py-0">

    <div class="container">
      <div class="row h-100 gx-2 mt-7">
        <!-- loop tagged product tags -->
        <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
          <div class="card card-span h-100">
            <div class="position-relative"> <img class="img-fluid rounded-3 w-100"
                src="{% static 'shop/assets/img/gallery/discount-item-1.png' %}" alt="..." />
              <div class="card-actions">
                <div class="badge badge-foodwagon bg-primary p-4">
                  <div class="d-flex flex-between-center">
                    <div class="text-white fs-7">15</div>
                    <div class="d-block text-white fs-2">% <br />
                      <div class="fw-normal fs-1 mt-2">Off</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0">
              <h5 class="fw-bold text-1000 text-truncate">Flat Hill Slingback</h5><span
                class="badge bg-soft-danger py-2 px-3"><span class="fs-1 text-danger">6 days Remaining</span></span>
            </div><a class="stretched-link" href="#"></a>
          </div>
        </div>
        <!-- endloop -->
      </div>
    </div><!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- <section> begin ============================-->
    <!-- STEPS FOR USING PRODUCTS APP -->
  <section class="py-0 bg-primary-gradient">

    <div class="container">
      <div class="row justify-content-center g-0">
        <div class="col-xl-9">
          <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">How does it work</h5>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'shop/assets/img/gallery/location.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Select location</h5>
                <p class="mb-md-0">Choose the location where your food will be delivered.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'shop/assets/img/gallery/order.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Choose order</h5>
                <p class="mb-md-0">Check over hundreds of menus to pick your favorite food</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'shop/assets/img/gallery/pay.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Pay advanced</h5>
                <p class="mb-md-0">It's quick, safe, and simple. Select several methods of payment</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 mb-6">
              <div class="text-center"><img class="shadow-icon" src="{% static 'shop/assets/img/gallery/meals.png' %}" height="112"
                  alt="..." />
                <h5 class="mt-4 fw-bold">Enjoy meals</h5>
                <p class="mb-md-0">Food is made and delivered directly to your home.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- <section> begin ============================-->
    <!-- pPOPULAR PRODUCTS -->
  <section class="py-4 overflow-hidden">

    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Popular items</h5>
        </div>
        <div class="col-12">
          <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <!-- LOOP COROUSELS -->
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row gx-3 h-100 align-items-center">
                  <!-- LOOP POPULAR PRODUCTS -->
                  {% for product in products %}
                  <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                    <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100"
                        src="{% static 'shop/assets/img/gallery/cheese-burger.png' %}" alt="..." />
                      <div class="card-body ps-0">
                        <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                        <div><span class="text-warning me-2"><i class="fas fa-map-marker-alt"></i></span><span
                            class="text-primary">Burger Arena</span></div><span class="text-1000 fw-bold">$3.88</span>
                      </div>
                    </div>
                    <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!" role="button">Order now</a>
                    </div>
                  </div>
                  {% endfor %}
                  <!-- ENDLOOP -->
                </div>
              </div>
              <!-- ENDLOOP -->
            </div>
            <button class="carousel-control-prev carousel-icon" type="button" data-bs-target="#carouselPopularItems"
              data-bs-slide="prev"><span class="carousel-control-prev-icon hover-top-shadow"
                aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
            <button class="carousel-control-next carousel-icon" type="button" data-bs-target="#carouselPopularItems"
              data-bs-slide="next"><span class="carousel-control-next-icon hover-top-shadow"
                aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->
  <!-- FEATURED PRODUCTS SECTION -->
  <section id="testimonial">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mb-6">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Featured Restaurants</h5>
        </div>
      </div>
      <div class="row gx-2">
        <!-- LOOP FEATURED PRODUCTS -->
        <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
          <div class="card card-span h-100 text-white rounded-3"><img class="img-fluid rounded-3 h-100"
              src="{% static 'shop/assets/img/gallery/food-world.png' %}" alt="..." />
            <div class="card-img-overlay ps-0"><span class="badge bg-danger p-2 ms-3"><i
                  class="fas fa-tag me-2 fs-0"></i><span class="fs-0">20% off</span></span><span
                class="badge bg-primary ms-2 me-1 p-2"><i class="fas fa-clock me-1 fs-0"></i><span
                  class="fs-0">Fast</span></span></div>
            <div class="card-body ps-0">
              <div class="d-flex align-items-center mb-3"><img class="img-fluid"
                  src="{% static 'shop/assets/img/gallery/food-world-logo.png' %}" alt="" />
                <div class="flex-1 ms-3">
                  <h5 class="mb-0 fw-bold text-1000">Food world</h5><span class="text-primary fs--1 me-1"><i
                      class="fas fa-star"></i></span><span class="mb-0 text-primary">46</span>
                </div>
              </div><span class="badge bg-soft-danger p-2"><span class="fw-bold fs-1 text-danger">Opens
                  Tomorrow</span></span>
            </div>
          </div>
        </div>
        <!-- END LOOP -->
        <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-primary" href="#!">View All <i
              class="fas fa-chevron-right ms-2"> </i></a></div>
      </div>
    </div>
  </section>

  <section>
    <div class="bg-holder"
      style="background-image:url(assets/img/gallery/cta-one-bg.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->
    <!-- dont touch this -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-10">
          <div class="card card-span shadow-warning" style="border-radius: 35px;">
            <div class="card-body py-5">
              <div class="row justify-content-evenly">
                <div class="col-md-3">
                  <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img
                      src="{% static 'shop/assets/img/icons/discounts.png' %}" width="100" alt="..." />
                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                      <h2 class="fw-bolder text-1000 mb-0 text-gradient">Daily<br class="d-none d-md-block" />Discounts
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 hr-vertical">
                  <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img
                      src="{% static 'shop/assets/img/icons/live-tracking.png' %}" width="100" alt="..." />
                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                      <h2 class="fw-bolder text-1000 mb-0 text-gradient">Live Tracking</h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 hr-vertical">
                  <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img
                      src="{% static 'shop/assets/img/icons/quick-delivery.png' %}" width="100" alt="..." />
                    <div class="d-flex d-lg-block d-xl-flex flex-center">
                      <h2 class="fw-bolder text-1000 mb-0 text-gradient">Quick Delivery </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-center mt-md-8">
        <div class="col-lg-5 d-none d-lg-block" style="margin-bottom: -122px;"> <img class="w-100"
            src="{% static 'shop/assets/img/gallery/phone-cta-one.png' %}" alt="..." /></div>
        <div class="col-lg-5 mt-7 mt-md-0">
          <h1 class="text-primary">Install the app</h1>
          <p>It's never been easier to order food. Look for the finest <br class="d-none d-xl-block" />discounts and
            you'll be lost in a world of delectable food.</p><a class="pe-2" href="https://www.apple.com/app-store/"
            target="_blank"><img src="{% static 'shop/assets/img/gallery/app-store.svg' %}" width="160" alt="" /></a><a
            href="https://play.google.com/store/apps" target="_blank"><img src="{% static 'shop/assets/img/gallery/google-play.svg' %}"
              width="160" alt="" /></a>
        </div>
      </div>
    </div>
  </section>




  <section class="py-0">
    <div class="bg-holder"
      style="background-image:url(assets/img/gallery/cta-two-bg.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row flex-center">
        <div class="col-xxl-9 py-7 text-center">
          <h1 class="fw-bold mb-4 text-white fs-6">Are you ready to order <br />with the best deals? </h1><a
            class="btn btn-danger" href="#"> PROCEED TO ORDER<i class="fas fa-chevron-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}