{% load static %}

<script src="{% static 'shop/vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'shop/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'shop/vendors/is/is.min.js' %}"></script>
<script src="{% static 'shop/https://polyfill.io/v3/polyfill.min.js?features=window.scroll' %}"></script>
<script src="{% static 'shop/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'shop/assets/js/theme.js' %}"></script>

<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
    rel="stylesheet">