{% load static %}

<div class="product-item bg-light mb-4">
    <div class="product-img position-relative overflow-hidden">
        <img class="img-fluid w-100" src="
{% if product.image %}
{{product.image.url}}
{% else %}
{% static 'img/product_cartegory_default.png' %}
{% endif %}
" alt="">
        <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href="{{product.get_absolute_url}}"><i
                    class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="text-center py-4">
        <a class="h6 text-decoration-none text-truncate" href="">{{product}}</a>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>${{product.price}}</h5>
            <h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-1">
            {% for _ in product.iter_full_stars %}
            <small class="fa fa-star text-primary mr-1"></small>
            {% endfor %}
            {% for _ in product.iter_empty_stars %}
            <small class="far fa-star text-primary mr-1"></small>
            {% endfor %}
            <small>({{product.reviews.all | length}})</small>
        </div>
    </div>
</div>