{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block"
          src="{% static 'img/favicon/logo.png' %}" height="70" alt="logo" /><span
          class="text-1000 fs-3 fw-bold ms-2 text-gradient">{{jujamall.title}}</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"> </span></button>
      <div class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
        <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
          <p class="mb-0 fw-bold text-lg-center">Deliver to: <i
              class="fas fa-map-marker-alt text-warning mx-2"></i><span class="fw-normal">Current Location
            </span><span>Mirpur 1 Bus Stand, Dhaka</span></p>
        </div>
        <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
          <div class="input-group-icon pe-2"><i class="fas fa-search input-box-icon text-primary"></i>
            <input class="form-control border-0 input-box bg-100" type="search" placeholder="Search Product"
              aria-label="Search" />
          </div>
          <button class="btn btn-white shadow-warning text-warning" type="submit"> <i
              class="fas fa-user me-2"></i>Login</button>
        </form>
      </div>
    </div>
  </nav>