<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-8">
            <a href="{{branch.get_absolute_url}}" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">{{business}}</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">{{branch}}</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-right">
            {% if branch.customer_service_number %}
            <p class="m-0">Customer Service</p>
            <a href="tel: {{branch.customer_service_number}}">
                <h5 class="m-0">{{branch.customer_service_number}}</h5>
            </a>
            {% endif %}
        </div>
    </div>
</div>