<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle"
                        style="padding-bottom: 2px;">8</span>
                </a>
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle"
                        style="padding-bottom: 2px;">8</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-8">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">{{business}}</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">{{branch}}</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-right">
            {% if branch.customer_service_number %}
            <p class="m-0">Customer Service</p>
            <a href="tel: {{branch.customer_service_number}}">
                <h5 class="m-0">{{branch.customer_service_number}}</h5>
            </a>
            {% endif %}
        </div>
    </div>
</div>