{% load static %}


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'business/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'business/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'business/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'business/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'business/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'business/lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'business/lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'business/js/main.js' %}"></script>