{% extends 'base.html' %}
{% block meta %}
    <meta name="keywords" content="BizBoost registered businesses, {{business}}, {{business.owner.get_full_name}}'s businesses">
    <meta name="description" content="{{business.description}}, {{business.additional_info}}">
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Businesses - {{user}} - Manage {{business}}{% endblock %}
{% block content %}

<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="
                {% if business.image %}
                {{business.image.url}}
                {% else %}
                {% static 'img/business_default.png' %}
                {% endif %}
                " alt="...">
                <h1 class="card-title text-center">
                    {{business}}
                </h1>
                <div class="card-body">
                    <ul class="list-unstyled ">
                        <li><span class="fw-bold">Owner: </span>{{business.owner.get_full_name}}</li>
                        <li><span class="fw-bold">Base location: </span>{{business.address}}</li>
                        <li><span class="fw-bold">Created: </span>{{business.created}}</li>
                        <li><span class="fw-bold">Updated: </span>{{business.updated}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">{{ business.name }}'s Branches</h5>
                <div class="table-responsive text-nowrap"></div>
                <table class="table table-striped">
                    <thead class="table table-head">
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Base Location</th>
                        <th>Action</th>
                    </thead>
                    <tbody class="table table-body">
                        {% if business %}
                        {% for branch in business.branch.all %}
                        <tr>
                            <td><a href="{{branch.get_absolute_url}}">{{branch}}</a></td>
                            <td>
                                {% if branch.is_approved %}
                                <span class="badge bg-label-success me-1">Approved</span>
                                {% else %}
                                <span class="badge bg-label-warning me-1">Pending</span>
                                {% endif %}
                            </td>
                            <td>{{branch.created}}</td>
                            <td>{{branch.address}}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                            href="{% url 'business:branch_update' business.slug branch.slug %}"><i
                                                class="bx bx-edit-alt me-1 text-primary"></i> Edit</a>
                                        <a class="dropdown-item"
                                            href="{% url 'products:add' business.slug branch.slug %}"><i
                                                class="fa fa-plus me-1 text-success" aria-hidden="true"></i> Add
                                            Product</a>
                                        <a class="dropdown-item"
                                            href="{% url 'business:branch_delete' business.slug branch.slug %}"><i
                                                class="bx bx-trash me-1 text-danger"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="py-4 text-center">
                                <h3>No business found, <a href="{% url 'business:register_business' %}">Create one now!</a> and enjoy selling.</h3>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="4"></td>
                            <td><a href="{% url 'business:register_branch' business.slug %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Branch</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- tabs -->
            <div class="card mt-2">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">Additional
                            Information</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#review"
                            type="button" role="tab" aria-controls="review"
                            aria-selected="false">Reviews({{business.reviews}})</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                            type="button" role="tab" aria-controls="contact"
                            aria-selected="false">Contants({{business.contacts.all | length}})</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {{business.description|linebreaks }}
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {{business.additional_info|linebreaks }}
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="contact-tab">

                        {% if business.reviews %}
                        <div class="row">
                            {% for branch in business.branch.all %}
                            {% for review in branch.reviews.all %}
                            <div class="col-lg-12">
                                <h4 class="mb-4">Review for {{review.business}}</h4>
                                <div class="media mb-4">
                                    <img src="{% if review.user.profile.image %}{{ review.user.profile.image.url }}{% else %}{% static 'img/avatardefault.png' %}{% endif %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                    <div class="media-body">
                                        <h6>{{review.user.get_full_name}}<small> - <i>{{review.updated}}</i></small></h6>
                                        <div class="text-primary mb-2">
                                            {% for _ in review.iter_full_stars %}
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            {% endfor %}
                                            {% for _ in review.iter_empty_stars %}
                                            <small class="far fa-star text-primary mr-1"></small>
                                            {% endfor %}
                                        </div>
                                        <p>{{review.review}}.</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% else %}

                        No review yet
                        {% endif %}

                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {% if business.contacts.all %}
                        <div class="row">
                            {% for contact in business.contacts.all %}
                            <div class="col-lg-12">
                                <h4 class="mb-4">Message from {{contact.name}}</h4>
                                <div class="media mb-4">
                                    <div class="media-body">
                                        <h6>{{contact.user.get_full_name}}-{{contact.created_at}}<small><i>{{contact.phone_number}}</i></small></h6>
                                        <p>{{contact.email}}</p>
                                        <p>{{contact.message}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            No Contacts yet
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- end tabs -->
        </div>
    </div>
</div>

</div>

{% endblock %}