{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Business - Regiter{% endblock %}
{% block content %}

<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-5 card p-5 me-2">
            <h5 class="text-muted">What a great step to register a business with us</h5>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{bs_reg_form|crispy}}
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
        <div class="col-md-5 card p-5 me-2">
            <form autocomplete="off" action="">
                <div class="autocomplete" style="width:300px; position: relative; display: inline-block;">
                    <input id="locationSearch" type="text" name="locationSearch" placeholder="Location">
                </div>
            </form>
            <div id="googleMap" style="width:100%;height:100%;"></div>
        </div>
    </div>
</div>
<script>
    var map, infoWindow, markersArray=[];
    function clearOverlays() {
        for (var i = 0; i < markersArray.length; i++) {
            markersArray[i].setMap(null);
        }
        markersArray.length = 0;
    }
    function myMap() {
        let vstecPosition = new google.maps.LatLng(-1.1139084362152138, 37.0106327842076)
        let mapOptions = {
            center: vstecPosition,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true,
            rotateControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            }
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
        const vstecMarker = new google.maps.Marker({
            position: vstecPosition,
            map: map,
            draggable: true,
            icon: { url: "{% static 'markers/8.png' %}", scaledSize: new google.maps.Size(70, 70) },
        });
        markersArray.push(vstecMarker)
        google.maps.event.addListener(vstecMarker, "drag", (e) => {
            lat.value = e.latLng.lat()
            lng.value = e.latLng.lng()
        });
        let infoWindow = new google.maps.InfoWindow();
        let lat = document.querySelector('#id_latitude');
        // lat.addEventListener('click', () => { alert("Clicked") });
        lat.value = -1.1139084362152138
        let lng = document.querySelector('#id_longitude');
        lng.value = 37.0106327842076
        const locationButton = document.createElement("button");
        locationButton.textContent = "Find my location";
        locationButton.className = "custom-map-control-button btn btn-light my-2 shadow-lg";
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        let currentPositionMarker;
        
        locationButton.addEventListener('click', () => {
            clearOverlays()
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        lat.value = position.coords.latitude
                        lng.value = position.coords.longitude
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };
                        // infoWindow.setPosition(pos);
                        infoWindow.setContent("your current Location found.Drag to change your location");
                        if (!currentPositionMarker) {
                            currentPositionMarker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                icon: { url: "{% static 'markers/8.png' %}", scaledSize: new google.maps.Size(50, 50) },
                                draggable: true
                            });
                            markersArray.push(currentPositionMarker);
                        }

                        google.maps.event.addListener(currentPositionMarker, "drag", (e) => {
                            lat.value = e.latLng.lat()
                            lng.value = e.latLng.lng()

                        });
                        map.setZoom(18)
                        infoWindow.open(map, currentPositionMarker);
                        map.setCenter(pos);
                        //set marker on current position

                    },
                    (error) => {
                        //user doent allow the location permision
                        showError(error)
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                alert("Browser dont surpot geolocation")
            }
        });
        function showError(error) {
            //could be used in place for above handleLocationError
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }

        let ok = document.querySelector("#ok");
        let place = document.querySelector("#myInput");
        let placeMarker = new google.maps.Marker({
            draggable: true,
            icon: { url: "{% static 'markers/8.png' %}", scaledSize: new google.maps.Size(50, 50) },
        });
        markersArray.push(placeMarker)
        ok.addEventListener('click', () => {

            $.getJSON(
                `http://www.mapquestapi.com/geocoding/v1/address?key=2dVBKmPmnGAdhlP4AG9HPv7X4dAznIYt&location=${place.value}`,
                (data, status, resp) => {

                    const results = data['results'];
                    for (const result in results) {
                        const locations = result['locations'];
                        for (const location in locations) {
                            alert(resp)
                            const latLng = location['latLng'];
                            console.log(latLng);
                            alert("Lat: " + latLng['lat'] + "long: " + latLng['lng']);
                        }
                    }

                }
            )
            vstecMarker.setMap(null)
        });
    }
   
    
</script>


{% block mapdependancies %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0WoecFWukfc9lUgCVcA20W11Eoj49jpo&callback=myMap"></script>
<script src="{% static 'js/auto.js' %}"></script>

<script>
    $(document).ready(onReady);
    $('#locationSearch').on('keypress',function(event){
        clearOverlays()
        onEnter(event, map, "{% static 'markers/8.png' %}")
    })
</script>

{% endblock %}

{% endblock %}